.home-page {
  width: 100%;
  min-height: 100vh;
  background: url(https://i.ibb.co/xfk1XBS/bg.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;  
}

.search-bar {
  width: 600px;
}

.container button{
background: none;
border: none;
cursor: pointer;
transition: transform 0.3s ease;
}

.container button img {
  width: 50px; 
  border-radius: 50px; 
}

.container button img:hover {
  transform: scale(1.1); 
}

@media (width <= 730px) {
  .home-page {
    width: 100%;
    background: url(https://i.ibb.co/xfk1XBS/bg.jpg) no-repeat center
      center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }

  .search-bar {
    width: 300px;
    color: black;
  }
}
