@media (width >= 1000px) {
  .home-page {
    width: 100%;
    min-height: 100vh;
    background: url(https://i.ibb.co/xfk1XBS/bg.jpg) no-repeat center
      center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 1px;
  }

  .search-bar {
    width: 600px;
  }

  .container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
  }

  .container button img {
    width: 45px;
    border-radius: 50px;
  }

  .container button img:hover {
    transform: scale(1.1);
  }
}

@media (640px < width < 1024px) {
  .container {
    max-width: 580px;
    margin: 20px auto;
    border: 5px;
  }

  .container button {
    background-color: #212121;
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 200px;
    padding: 5px 5px;
    border-radius: 5px;
  }
}

@media (width <= 640px) {
  .container {
    max-width: 580px;
    margin: 20px auto;
    border: 5px;
  }

  .container button {
    background-color: #212121;
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 155px;
    padding: 8px 8px;
    border-radius: 5px;
  }
}
